    /* general styles */
    
    body {
        background: #fff;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        line-height: 1.9;
        letter-spacing: 1px;
        font-weight: 300;
    }
    
    ::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
    
    a {
        outline: medium none !important;
    }
    
    button {
        outline: medium none !important;
    }
    
    p {
        font-size: 16px;
    }
    
    h1 {
        font-size: 34px;
        line-height: 54px;
    }
    
    h2 {
        font-size: 30px;
    }
    
    h3 {
        font-size: 26px;
    }
    
    h4 {
        font-size: 22px;
    }
    
    h5 {
        font-size: 18px;
    }
    
    #page {
        margin-top: -160px;
        position: relative;
        z-index: 200;
    }
    
    .item {}
    /* margins and paddings */
    
    .ml20 {
        margin-left: 20px;
    }
    
    .mr20 {
        margin-right: 20px;
    }
    
    .mb20 {
        margin-bottom: 20px;
    }
    
    .mt20 {
        margin-top: 20px;
    }
    
    .ml40 {
        margin-left: 40px;
    }
    
    .mr40 {
        margin-right: 40px;
    }
    
    .mb40 {
        margin-bottom: 40px;
    }
    
    .mt40 {
        margin-top: 40px;
    }
    
    .nopadding {
        padding: 0 !important;
    }
    
    .nomargin {
        margin: 0 !important;
    }
    
    .nopaddingnomargin {
        padding: 0 !important;
        margin: 0 !important;
    }
    
    .nopaddingleft {
        padding-left: 0 !important;
    }
    
    .nopaddingright {
        padding-right: 0 !important;
    }
    
    .green {
        color: #62b151 !important;
    }
    
    .dark {
        color: #282828 !important;
    }
    
    .orange {
        color: #fec107 !important;
    }
    /* header */
    
    header {
        width: 100%;
        height: 100%;
        min-height: 670px;
        background: no-repeat center center;
        background-attachment: scroll;
        background-color: #b7b7b7;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        position: relative;
    }
    /* buttons */
    
    .btn-default {
        border-radius: 40px;
        padding: 12px 24px;
        border: 1px solid #b7b7b7;
    }
    
    .btn-default:hover {
        background: #b7b7b7;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .btn-default-transparent {
        background: transparent;
        border-radius: 40px;
        padding: 12px 24px;
        border: 1px solid #fff;
        color: #fff;
    }
    
    .btn-default-transparent:hover {
        border: 1px solid #b7b7b7;
        color: #b7b7b7;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .btn-default-pink-transparent,
    .btn-default-pink-transparent:focus {
        background: transparent;
        border-radius: 40px;
        padding: 12px 24px;
        border: 1px solid #fff;
        color: #fff;
    }
    
    .btn-default-pink-transparent:hover {
        border: 1px solid #f06097;
        color: #fff;
        background-color: #f06097;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .btn-default-pink,
    .btn-default-pink:focus {
        border-radius: 40px;
        padding: 12px 24px;
        border: 1px solid #f06097;
        color: #fff;
        background-color: #f06097;
    }
    
    .btn-default-pink:hover {
        border: 1px solid #fff;
        color: #fff;
        background-color: transparent;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .btn-default-yellow,
    .btn-default-yellowk:focus {
        border-radius: 40px;
        padding: 12px 24px;
        border: 1px solid #f8e71c;
        color: #fff;
        background-color: #f8e71c;
    }
    
    .btn-default-yellow:hover {
        border: 1px solid #fff;
        color: #fff;
        background-color: transparent;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .btn-default-green-transparent {
        border-radius: 2px !important;
        background: transparent;
        padding: 12px 24px;
        border: 1px solid #62b151;
        color: #62b151;
    }
    
    .btn-default-green-transparent:hover {
        border: 1px solid #62b151;
        color: #fff;
        background: #62b151;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .btn-default-green,
    .btn-default-green:focus {
        background-color: #62b151;
        border-radius: 2px;
        padding: 12px 24px;
        border: 1px solid #62b151;
        color: #fff;
    }
    
    .btn-default-green:hover {
        border: 1px solid #62b151;
        color: #fff;
        background: transparent;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .btn-default-black,
    .btn-default-black:focus {
        background-color: #000;
        border-radius: 2px;
        padding: 12px 24px;
        border: 1px solid #000;
        color: #fff;
    }
    
    .btn-default-black:hover {
        border: 1px solid #000;
        color: #000;
        background: transparent;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .btn-default-green-transparent-tiny,
    .btn-default-green-transparent-tiny:focus {
        border-radius: 2px !important;
        background: transparent;
        border-radius: 40px;
        padding: 8px 24px;
        border: 1px solid #62b151;
        color: #62b151;
    }
    
    .btn-default-green-transparent-tiny:hover {
        border: 1px solid #62b151;
        color: #fff;
        background: #62b151;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .btn-default-green-tiny {
        border-radius: 2px !important;
        background: #62b151;
        border-radius: 40px;
        padding: 8px 24px;
        border: 1px solid #62b151;
        color: #fff;
    }
    
    .btn-default-green-tiny:hover {
        border: 1px solid #62b151;
        color: #62b151;
        background: transparent;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .btn-default-orange {
        border-radius: 4px !important;
        background: transparent;
        border-radius: 40px;
        padding: 10px 24px;
        border: 1px solid #0074d9;
        color: #0074d9;
    }
    
    .btn-default-orange:hover {
        border: 1px solid #0074d9;
        color: #fff;
        background: #0074d9;
    }
    
    .btn-default-orange-light,
    .btn-default-orange-light:focus {
        border-radius: 4px !important;
        background: #fec107;
        border-radius: 40px;
        padding: 10px 24px;
        border: 1px solid #fec107;
        color: #fff;
    }
    
    .btn-default-orange-light:hover {
        border: 1px solid #fec107;
        color: #fec107;
        background: transparent;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .btn-default-orange-light-transparent,
    .btn-default-orange-light-transparent:focus {
        border-radius: 4px !important;
        background: transparent;
        border-radius: 40px;
        padding: 10px 24px;
        border: 1px solid #fec107;
        color: #fec107;
    }
    
    .btn-default-orange-light-transparent:hover {
        border: 1px solid #fec107;
        color: #fff;
        background: #fec107;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .btn-default-orange-tiny {
        border-radius: 2px !important;
        background: transparent;
        border-radius: 40px;
        padding: 6px 24px;
        border: 1px solid #e74c3c;
        color: #e74c3c;
    }
    
    .btn-default-orange-tiny:hover {
        border: 1px solid #e74c3c;
        color: #fff;
        background: #e74c3c;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .btn-default-orange-tiny-no-t {
        border-radius: 2px !important;
        background: #e74c3c;
        border-radius: 40px;
        padding: 6px 24px;
        border: 1px solid #e74c3c;
        color: #fff;
    }
    
    .btn-default-orange-tiny-no-t:hover {
        border: 1px solid #e74c3c;
        color: #e74c3c;
        background: transparent;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .btn-default-blue-tiny {
        border-radius: 2px !important;
        background: #3498db;
        border-radius: 40px;
        padding: 8px 24px;
        border: 1px solid #3498db;
        color: #fff !important;
    }
    
    .btn-default-blue-tiny:hover {
        border: 1px solid #3498db;
        color: #3498db !important;
        background: transparent;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .btn-default-dark-tiny {
        border-radius: 2px !important;
        background: #282828;
        border-radius: 40px;
        padding: 8px 24px;
        border: 1px solid #282828;
        color: #fff !important;
    }
    
    .btn-default-dark-tiny:hover {
        border: 1px solid #282828;
        color: #282828 !important;
        background: transparent;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .btn-default-white-transparent,
    .btn-default-white-transparent:focus {
        border-radius: 2px !important;
        background: rgba(237, 237, 237, 0.3);
        padding: 12px 24px;
        border: 1px solid #ededed;
        color: #fff;
    }
    
    .btn-default-white-transparent:hover {
        border: 1px solid rgba(237, 237, 237, 0.8);
        color: #fff;
        background: rgba(237, 237, 237, 0.6);
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    /* inputs */
    
    .form-control {
        border-radius: 0;
        background: transparent;
        border: none;
        height: 42px;
        color: #282828;
        outline: none;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .contact {
        z-index: 101;
        font-weight: 300;
        padding: 20px 0 50px;
        height: 100%;
        width: 100%;
        background-color: #0074d9;
        border: 5px solid #fff;
        color: #eee;
        position: relative;
    }
    
    .contact h1,
    .contact h3 {
        font-weight: 300;
    }
    
    #contact-cta .top-part {
        min-height: 200px;
        background-color: #fff;
    }
    
    #contact-cta .bottom-part {
        min-height: 300px;
        background-color: #bbb;
        z-index: 90;
    }
    
    #contact-cta .middle-part {
        margin-top: -160px;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    
    .kosinatop {
        display: inline-block;
        background-color: #0074d9;
        height: 200px;
        font-size: 1px;
        margin-top: 200px;
        -webkit-transform: skewY(3deg);
        transform: skewY(3deg);
        z-index: 49;
        position: relative;
        margin: 0px;
        margin-bottom: 30px;
    }
    
    .kosinabot {
        display: inline-block;
        background-color: #0074d9;
        margin-top: 200px;
        height: 200px;
        font-size: 1px;
        -webkit-transform: skewY(-3deg);
        transform: skewY(-3deg);
        z-index: 60;
        position: relative;
        margin: 0px;
    }
    
    .kosinafooter {
        display: inline-block;
        background-color: #0074d9;
        height: 200px;
        font-size: 1px;
        -webkit-transform: skewY(-3deg);
        transform: skewY(-3deg);
        z-index: 1;
        position: relative;
        margin: 0px;
    }
    
    .kosinaheader {
        display: inline-block;
        background-color: #fff;
        height: 200px;
        font-size: 1px;
        -webkit-transform: skewY(3deg);
        transform: skewY(3deg);
        z-index: 1;
        position: relative;
        margin: 0px;
    }
    
    .kosinaservices {
        display: inline-block;
        background-color: #fff;
        height: 200px;
        font-size: 1px;
        -webkit-transform: skewY(-3deg);
        transform: skewY(-3deg);
        z-index: 40;
        position: relative;
        margin: 0px;
        margin-top: -100px;
    }
    
    .kosina-map-top {
        display: inline-block;
        background-color: #0074d9;
        height: 200px;
        font-size: 1px;
        margin: auto;
        margin-top: -200px;
        margin-bottom: -15px;
        -webkit-transform: skewY(3deg);
        transform: skewY(3deg);
        z-index: 50;
        position: relative;
    }
    
    .kosina-map-bot {
        display: inline-block;
        background-color: #0074d9;
        height: 100px;
        font-size: 1px;
        margin-top: 200px;
        -webkit-transform: skewY(-3deg);
        transform: skewY(-3deg);
        z-index: 50;
        position: relative;
        margin: 0px;
    }
    
    .kosina-contact-bot {
        display: inline-block;
        background-color: #fff;
        height: 200px;
        font-size: 1px;
        margin-top: 200px;
        -webkit-transform: skewY(3deg);
        transform: skewY(3deg);
        z-index: 150;
        position: relative;
        margin: 0px;
    }
    
    .kosinaadvantages {
        display: inline-block;
        background-color: #fff;
        height: 200px;
        font-size: 1px;
        margin-top: 200px;
        -webkit-transform: skewY(3deg);
        transform: skewY(3deg);
        z-index: 150;
        position: relative;
        margin: 0px;
        margin-bottom: -200px;
    }
    
    .display-1,
    .display-2,
    .display-3,
    .display-4 {
        font-family: 'Montserrat', sans-serif;
        word-break: break-word;
        word-wrap: break-word;
    }
    
    input,
    textarea {
        font-family: "Raleway";
    }
    
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition-delay: 9999s;
        transition-property: background-color, color;
    }
    
    .text-primary {
        color: #c0a375 !important;
    }
    
    .text-success {
        color: #90a878 !important;
    }
    
    .text-info {
        color: #7e9b9f !important;
    }
    
    .text-warning {
        color: #f3c649 !important;
    }
    
    .text-danger {
        color: #f28281 !important;
    }
    
    .text-white {
        color: #fff !important;
    }
    
    .text-black {
        color: #535353 !important;
    }
    
    .mbr-section {
        position: relative;
        padding-top: 120px;
        padding-bottom: 120px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .mbr-section-full {
        display: table;
        height: 100vh;
        padding-bottom: 0;
        padding-top: 0;
        table-layout: fixed;
        width: 100%;
    }
    
    .mbr-section-full > .mbr-table-cell {
        width: 100%;
    }
    
    .mbr-section-small {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    .mbr-section-title {
        margin-top: 0;
    }
    
    .mbr-section__container--first {
        padding-top: 120px;
        padding-bottom: 40px;
    }
    
    .mbr-section__container--middle {
        padding-top: 0;
        padding-bottom: 40px;
    }
    
    .mbr-section__container--last {
        padding-top: 0;
        padding-bottom: 120px;
    }
    
    .mbr-section-sm-padding {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .mbr-section-md-padding {
        padding-top: 90px;
        padding-bottom: 90px;
    }
    
    .mbr-section-nopadding {
        margin-top: -60px;
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .mbr-section-subtitle {
        display: block;
        font-style: italic;
        font-weight: 400;
        font-size: 17px;
        font-family: "Lora";
        line-height: 26px;
        color: #8c8c8c;
        margin-bottom: 30px;
    }
    
    .mbr-section-title + .mbr-section-subtitle {
        margin-top: -21px;
    }
    
    .mbr-section-hero::before {
        display: none !important;
    }
    
    .mbr-section-hero .mbr-section-title {
        color: #fff;
        margin-bottom: 1.6875rem;
    }
    
    .mbr-section-hero .mbr-section-lead {
        color: #fff;
        font-family: Lora;
        font-size: 1.5rem;
        font-style: italic;
        margin-top: -1em;
    }
    
    .mbr-section-hero .mbr-section-text {
        color: #fff;
    }
    
    @media (max-width: 767px) {
        .mbr-section {
            padding-top: 60px;
            padding-bottom: 60px;
        }
        .mbr-section-full {
            padding-bottom: 0;
            padding-top: 0;
        }
        .mbr-section__container--first {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .mbr-section__container--middle {
            padding-top: 0;
            padding-bottom: 40px;
        }
        .mbr-section__container--last {
            padding-top: 0;
            padding-bottom: 60px;
        }
        .mbr-section-sm-padding {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        .mbr-section-md-padding {
            padding-top: 60px;
            padding-bottom: 60px;
        }
        .mbr-section-nopadding {
            padding-top: 0;
            padding-bottom: 0;
        }
        .mbr-section-subtitle {
            margin-bottom: 0;
        }
        .mbr-section-hero.mbr-after-navbar .mbr-section {
            padding-top: 120px;
        }
        .mbr-section-hero.mbr-section-with-arrow .mbr-section {
            padding-bottom: 120px;
        }
        .mbr-section-hero .mbr-section-title {
            font-size: 3.125rem !important;
        }
        .mbr-section-hero .mbr-section-lead {
            font-size: 1.125rem !important;
        }
        .mbr-section-hero .mbr-section-btn .btn {
            font-size: 0.75rem !important;
            line-height: 1.5;
            padding: 0.75rem 2.1875rem;
        }
    }
    
    .mbr-overlay {
        background-color: #000;
        bottom: 0;
        left: 0;
        opacity: 0.5;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }
    
    .mbr-overlay ~ * {
        z-index: 2;
    }
    
    .mbr-background-video,
    .mbr-background-video-preview {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .mbr-background-video-preview {
        z-index: 0 !important;
    }
    
    .mbr-table {
        display: table;
        width: 100%;
    }
    
    .mbr-table-full {
        height: 100%;
        position: relative;
        width: 100%;
    }
    
    .mbr-table-cell {
        display: table-cell;
        float: none;
        padding-bottom: 0;
        padding-top: 0;
        position: relative;
        vertical-align: middle;
    }
    
    .mbr-table-md-up {
        width: 100%;
    }
    
    .mbr-table-md-up .mbr-table-cell {
        display: block;
    }
    
    .mbr-table-md-up .mbr-table-cell + .mbr-table-cell {
        padding-top: 40px;
    }
    
    @media (min-width: 768px) {
        .mbr-table-md-up {
            display: table;
        }
        .mbr-table-md-up .mbr-table-cell {
            display: table-cell;
        }
        .mbr-table-md-up .mbr-table-cell + .mbr-table-cell {
            padding-top: 0;
        }
    }
    
    .mbr-figure {
        display: block;
        margin: 0;
        overflow: hidden;
        position: relative;
        width: 100%;
    }
    
    .mbr-figure img,
    .mbr-figure iframe {
        display: block;
        width: 100%;
    }
    
    .mbr-figure .mbr-figure-caption {
        background: #2e2e2e;
        color: #fff;
        font-family: Montserrat;
        padding: 1.5rem 0;
        text-align: center;
        width: 100%;
    }
    
    .mbr-figure .mbr-figure-caption-over {
        background: -moz-linear-gradient(left, rgba(67, 76, 99, 0.85), rgba(188, 155, 114, 0.85)) !important;
        background: -ms-linear-gradient(left, rgba(67, 76, 99, 0.85), rgba(188, 155, 114, 0.85)) !important;
        background: -o-linear-gradient(left, rgba(67, 76, 99, 0.85), rgba(188, 155, 114, 0.85)) !important;
        background: -webkit-linear-gradient(left, rgba(67, 76, 99, 0.85), rgba(188, 155, 114, 0.85)) !important;
        background: linear-gradient(left, rgba(67, 76, 99, 0.85), rgba(188, 155, 114, 0.85)) !important;
        bottom: 0;
        position: absolute;
    }
    
    .mbr-map {
        height: 50rem;
        position: relative;
        margin-bottom: -60px;
    }
    
    .mbr-map iframe {
        height: 100%;
        width: 100%;
    }
    
    .mbr-map [data-state-details] {
        color: #6b6763;
        font-family: Montserrat;
        height: 1.5em;
        margin-top: -0.75em;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100%;
    }
    
    .mbr-map[data-state] {
        background: #e9e5dc;
    }
    
    .mbr-map[data-state="loading"] [data-state-details] {
        display: none;
    }
    
    .mbr-map[data-state="loading"]::after {
        content: "";
        -webkit-animation: btnCircleLoading .6s infinite linear;
        animation: btnCircleLoading .6s infinite linear;
        border-radius: 50%;
        border: 6px rgba(255, 255, 255, 0.35) solid;
        border-top-color: #fff;
        height: 40px;
        left: 50%;
        margin-left: -20px;
        margin-top: -20px;
        position: absolute;
        top: 50%;
        width: 40px;
    }
    
    .overlay {
        background: transparent;
        position: relative;
        z-index: 101;
        width: 100%px;
        height: 50rem;
        /* your iframe height */
        top: 50rem;
        /* your iframe height */
        margin-top: -50rem;
        /* your iframe height */
    }
    
    #aboutblue {
        position: relative;
        z-index: 100;
        background-color: #0074d9;
        margin-top: -100px;
        margin-bottom: -100px;
        min-height: 500px;
    }
    
    .kosinaabout {
        display: inline-block;
        background-color: #0074d9;
        height: 200px;
        font-size: 1px;
        -webkit-transform: skewY(-3deg);
        transform: skewY(-3deg);
        z-index: 50;
        position: relative;
        margin: 0px;
    }
    
    .btn-social i {
        position: relative;
        z-index: 99;
        top: -3px;
        right: 1px;
        line-height: 44px;
        width: 44px;
        margin: auto;
    }
    
    .btn-social {
        position: relative;
        font-size: 25px;
        border-radius: 50%;
        padding: 0;
        width: 44px;
        height: 44px;
        line-height: 44px;
        text-align: center;
        border: 2px solid #fff;
        color: #fff;
    }
    
    .icons-center {
        position: relative;
        z-index: 99;
        display: block;
        text-align: center;
        margin-bottom: 50px;
    }
    
    .mbr-section-title {
        line-height: 1.1;
        margin-top: 0;
        text-align: center;
    }
    
    .overlay-gmap {
        background: transparent;
        position: relative;
        width: 100%;
        height: 500px;
        /* your iframe height */
        top: 500px;
        /* your iframe height */
        margin-top: -500px;
        /* your iframe height */
        z-index: 200;
    }
    
    .display-2 {
        color: #fff;
        position: relative;
        z-index: 99;
        font-size: 5rem;
        font-weight: 600;
        letter-spacing: -1px;
        margin-bottom: 1.5625rem;
        margin-top: 6rem;
    }
    
    #social-buttons2-0 .mbr-section-title,
    #social-buttons2-0 .btn-social {
        color: #fff;
        position: relative;
        z-index: 99;
    }
    
    p.lead,
    .lead p {
        text-align: center;
        color: #0074d9;
        font-size: 1.07rem;
        font-weight: 300;
        margin-bottom: 2.3125rem;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    a:focus {
        text-decoration: none;
    }
    
    .btn-blue-color-tiny {
        border-radius: 2px !important;
        background: #0074d9;
        border-radius: 40px;
        border: 1px solid #0074d9;
        color: #fff;
    }
    
    .btn-blue-color-tiny:hover {
        border: 1px solid #0074d9;
        color: #0074d9;
        background: transparent;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .btn-center-services {
        margin: auto;
        display: block;
        text-align: center;
        max-width: 120px;
    }
    
    .txt-center-services {
        text-align: center;
    }
    
    .padding-services {
        padding-bottom: 50px;
    }
    
    .fix-top {
        margin-top: 100px;
    }
    
    .btn-blue-portfolio {
        border-radius: 4px !important;
        background: transparent;
        border-radius: 40px;
        padding: 10px 24px;
        border: 1px solid #fff;
        color: #fff;
    }
    
    .btn-blue-portfolio:hover {
        border: 1px solid #0074d9;
        color: #fff;
        background: #0074d9;
    }
